/* Paragraphs */
p, pre {
  margin: 0 auto 1rem;
}

:is(p, pre):last-child {
  margin-bottom: 0;
}

/* Preformatted text */
pre {
  position: relative;
  overflow: auto;
  padding: 1rem;
  border-radius: var(--bd-radius);
  background: var(--bg-muted);
  font-size: 0.9rem;
  line-height: 1.6;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

pre > code {
  overflow: visible;
  padding: 0;
  border-radius: 0;
  background: transparent;
  font-size: inherit;
}

/* Quotation block */
blockquote {
  padding: 0.5rem 1.5rem;
  border-left: 0.25rem solid var(--primary-color);
  margin: 0 0 1.5rem;
  color: var(--muted);
  background: var(--bg-light);
  border-radius: var(--bd-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

blockquote > cite:last-child {
  display: block;
  padding-left: 2rem;
  margin-top: 0.5rem;
  text-decoration: none;
  font-style: italic;
}

blockquote > cite:last-child::before {
  content: "— ";
}

/* Figure */
figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1.5rem;
  padding: 1rem;
  border-radius: var(--bd-radius);
  background: var(--bg-muted);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

figcaption {
  display: block;
  width: 100%;
  margin: 1rem 0;
  color: var(--muted);
  text-align: center;
  font-style: italic;
}
