/* Progress */
progress, meter {
  overflow: hidden;
  width: 100%;
  height: .5rem;
  border: transparent;
  border-radius: calc(.5 * var(--bd-radius));
  margin: .5rem 0;
  appearance: none;
  background: var(--bg-subtle);
}

progress {
  vertical-align: baseline;
}

progress::-webkit-progress-value {
  background-color: currentColor;
}

progress::-moz-progress-bar {
  background-color: currentColor;
}

/* Meter */
meter::-webkit-meter-inner-element {
  position: relative;
  display: block;
}

meter::-webkit-meter-bar, progress::-webkit-progress-bar {
  border: transparent;
  background: var(--bg-subtle);
}

meter::-webkit-meter-optimum-value {
  background: var(--success);
}

meter::-webkit-meter-suboptimum-value {
  background: var(--attention);
}

meter::-webkit-meter-even-less-good-value {
  background: var(--danger);
}

meter:-moz-meter-optimum::-moz-meter-bar {
  background: var(--success);
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: var(--attention);
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: var(--danger);
}
