code, var, samp, kbd {
  padding: 0.2rem 0.4rem;
  border-radius: var(--bd-radius);
  margin: 0;
  background: var(--bg-muted);
  font-family: var(--ft-mono);
  font-size: 85%;
  font-style: inherit;
  white-space: break-spaces;
}

var {
  background: var(--bg-accent);
  color: var(--accent);
}

samp, kbd {
  border: 1px solid var(--bd-muted);
}

kbd {
  border-color: var(--bg-muted);
  background: var(--bg-subtle);
}

output {
  padding: 0.25rem 0.5rem;
  border: 2px dashed var(--bd-muted);
  border-radius: var(--bd-radius);
  background: var(--bg-default);
  font: inherit;
  line-height: 1.5;
  user-select: all;
}
