body.layout-simple {
  display: grid;
  max-width: none;
  padding: 0 1.5rem;
  column-gap: 1.5rem;
  grid-template-areas:
  "header"
  "aside1"
  "main"
  "footer";
  grid-template-rows: auto 1fr auto;
}

body.layout-simple > :is(header:first-of-type, footer:last-of-type) {
  display: flex;
  height: max-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 .5rem;
  margin-bottom: 0;
  background: var(--ly-bg-brand);
  color: var(--ly-brand);
  grid-area: header;
}

body.layout-simple > :is(header:first-of-type, footer:last-of-type) > * {
  margin-top: 0;
  margin-bottom: 0;
}

body.layout-simple > header:first-of-type {
  position: sticky;
  z-index: 200;
  top: 0;
  height: var(--ly-header-size);
  white-space: nowrap;
}

body.layout-simple > main:only-of-type {
  grid-area: main;
}

body.layout-simple > footer:last-of-type {
  overflow: auto;
  grid-area: footer;
}

body.layout-simple > :is(header:first-of-type, footer:last-of-type) > nav > menu {
  justify-content: center;
}

body.layout-simple > aside {
  display: none;
  padding: 0;
  border-left: none;
  margin: 0;
  backdrop-filter: blur(100px);
}

body.layout-simple > aside > nav:only-child {
  position: sticky;
  top: var(--ly-header-size);
  overflow: auto;
  max-height: calc(100vh - var(--ly-header-size));
  box-sizing: border-box;
  padding: .5rem;
  margin: 0;
}

body.layout-simple > aside:nth-of-type(1)[data-expandable] {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  grid-area: aside1;
  max-height: var(--ly-aside-size-small);
  display: block;
  overflow: hidden;
}

body.layout-simple > aside:nth-of-type(1)[data-expandable]::before {
  content: attr(data-expandable);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--ly-aside-size-small);
  cursor: pointer;
}

body.layout-simple > aside:nth-of-type(1)[data-expandable]:hover,
body.layout-simple > aside:nth-of-type(1)[data-expandable][data-expand] {
  max-height: none;
}

body.layout-simple > aside:nth-of-type(1)[data-expandable]:hover::before {
  color: var(--accent);
}

body.layout-simple > aside > nav:only-child > ul {
  height: 100%;
}

body.layout-simple > aside a {
  color: var(--default);
}

@media (min-width: 960px) {
  body.layout-simple > aside:nth-of-type(1)[data-expandable]::before {
    display: none;
  }

  body.layout-simple > aside:nth-of-type(1)[data-expandable] {
    margin-left: 0;
    margin-right: 0;
    max-height: none;
    overflow: unset;
  }

  body.layout-simple:has(> aside:nth-of-type(1)) {
    padding-left: 0;
    grid-template-areas:
    "header header"
    "aside1 main"
    "footer footer";
    grid-template-columns: minmax(0, .4fr) 1fr;
    grid-template-rows: auto 1fr auto;
  }

  body.layout-simple:has(> aside:nth-of-type(1)) > :is(header:first-of-type, footer:last-of-type) {
    margin-left: 0;
  }

  body.layout-simple > aside:nth-of-type(1) {
    display: block;
    box-shadow: var(--shadow-r);
    grid-area: aside1;
  }
}

@media (min-width: 1280px) {
  body.layout-simple:has(> aside:nth-of-type(1)) {
    grid-template-areas:
      "header header header"
      "aside1 main   ."
      "footer footer footer";
    grid-template-columns: minmax(0, .3fr) 1fr minmax(0, .3fr);
  }

  body.layout-simple:has(> aside:nth-of-type(2)) {
    padding-right: 0;
    grid-template-areas:
      "header header header"
      "aside1 main   aside2"
      "footer footer footer";
  }

  body.layout-simple:has(> aside:nth-of-type(2)) > :is(header:first-of-type, footer:last-of-type) {
    margin-right: 0;
  }

  body.layout-simple > aside:nth-of-type(2) {
    display: block;
    box-shadow: var(--shadow-l);
    grid-area: aside2;
  }
}

body.layout-simple > header:first-of-type > nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  background: var(--ly-bg-brand);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--tr-duration), top var(--tr-duration);
}

body.layout-simple > header:first-of-type:hover > nav {
  top: 100%;
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 768px) {
  body.layout-simple > header:first-child {
    justify-content: space-between;
  }

  body.layout-simple > header:first-child > nav {
    position: static;
    height: var(--ly-header-size);
    justify-content: flex-start;
    opacity: 1;
    pointer-events: auto;
  }
}
